/* palet and fonts */
:root {
    --rosaclaro: #cb88ab;
    --rosa: #bc1891;
    --azul: #29ADB2 ;
    --azulclaro: #e6f1ed;
    --azuloscuro: #32626e;
    --azulbutton: #66aaab;
    --blanco: #ffff;




}

body{
    background-color: var(--rosaclaro);
    margin: 0;
    padding: 0;
}

/* globals */

html{
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* header */

.header{
    background-color:var(--azulclaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
}

.img_header{
    width: 200px;
}

.div_header{
    background-color: var(--rosaclaro);
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.div_header-button{
    text-transform: uppercase;
    color: var(--blanco) ;
    border: none;
    border-radius: 10px;
    background-color: var(--rosa);
    padding: 5px;

}
:hover.div_header-button{
    background-color:var(--azul);
    padding: 7px;

}

h1{
    margin:5px;
    color: var(--azuloscuro);
    text-transform:uppercase;
    font-size:60px ;
}


/* nav */

.mainnav{
    background-color: var(--rosa);
    padding: 15px;
    display: flex;
    justify-content:space-between;

}

.options_mainnav{
    color: var(--blanco);
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    font-size:medium;


}

:hover.options_mainnav{
    background-color: var(--azulbutton);
}